<style>
  #calendar {
    width: 250px;
    /* Adjust the width as needed */
    height: 300px;
    /* Adjust the height as needed */
    overflow: hidden;
    display: none;
    /* Hide overflow if necessary */
  }


</style>
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> --}}

<body style="color: black;">

  <section style="background-color: #f0e7d7fd;" class="ftco-section ftco-car-details col-md-12  px-1" style=""
    data-stellar-background-ratio="0.5">
    <div class="overlay">

    </div>
    <div class="container ">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="container">
          <div class="row p-4">
            <div class="col-md-5 p-4">
              <div class="car-wrap rounded ftco-animate">

                <div class="card">
                  <div class="card-body p-0 m-0">
                    <div class="d-flex flex-column p-0">
                      <div class="mt-3 m-0 p-4 row col-12">
                        <div class="col-1 p-0 m-0">
                          <a type="button" onclick="goBack()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                              <path
                                d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z">
                              </path>
                            </svg>

                          </a>
                        </div>

                        <h2 class="text-center m-0 col-11">Summery</h2>
                        <h5 class="text-left m-2 ml-2">${{amount}} <span>Totel</span></h5>

                        <div style="border: 1px solid;" class="car-wrap rounded ftco-animate row col-12 m-0 p-1 ">
                          <div class="col-2 px-2 py-2 img-fluid"
                            style="background-image: url({{car.carImage}}); background-size: cover; background-position: center; height: 100px; width: 100%;">
                          </div>
                          <div class="col-10 px-4 py-2">
                            <h6 class="text-dark">{{car.carName}}</h6>
                            {{#if dayDifferenceIn }}
                            <h6 class="text-dark">{{formattedDropDate}} to {{formattedPickDate}}</h6>
                            <h6 class="text-dark">0{{dayDifferenceIn}} / dayes</h6>
                            {{else }}
                            <div class="row col-12 m-0 p-0">
                              <label for="" class="col-6 m-0">Pick-up</label>
                              <label for="" class="col-6 m-0">Drop-off</label>
                              <form>
                                <input style="border: 1px solid;" id="pickDate" type="text" value="{{formattedPickDate}}" class="col-5  rounded  m-0">
                                <input style="border: 1px solid;" id="dropDate" type="text" value="{{formattedDropDate}}" class="col-5   rounded m-0">
                                <input style="border: 1px solid;" id="carId" value="{{car._id}}" type="hidden"
                                  class=" ">

                                <input type="button" id="submitButton" class="btn btn-outline-success col-2 m-0  px-1 py-0"
                                  value="OK">
                               <h6 class="text-danger" id="error"></h6>
                              </form>
                            </div>
                            {{/if}}
                          </div>

                          <div id="calendar" class="car-wrap rounded ftco-animate row col-12 m-0 p-1 "> </div>

                          <br>

                        </div>

                        <div class="col-md-12 p-0 ">
                          <br>
                          <div id="userDetails" class="car-wrap rounded ftco-animate ">

                            <div class="text">
                              <div class="d-flex mb-1">
                                <span class="cat">Car Model </span>
                                </span>
                                <p class="price ml-md-auto ml-2">{{car.carModal}} <span></span></p>
                              </div>
                              <div class="d-flex mb-1">
                                <span class="cat">Fuel Type </span>
                                </span>
                                <p class="price ml-md-auto ml-2">{{car.fuelType}} <span></span></p>
                              </div>
                              <div class="d-flex mb-1">
                                <span class="cat">Transmission </span>
                                </span>
                                <p class="price ml-md-auto ml-2">{{car.TransmitionType}} <span></span></p>
                              </div>
                              <div class="d-flex mb-1">
                                <span class="cat">Day Rent</span>
                                </span>
                                <p class="price ml-md-auto ml-2">{{car.dayRent}} <span></span></p>
                              </div>

                              {{#if message}}
                              <div class="d-flex m-4">
                                </span>
                                <p class="price ml-md-auto ml-2 text-danger">{{message}} <span><a type="button"
                                      id="recover" class="col-2 btn btn-success" href="#">Recuver</a></span></p>
                              </div>
                              {{/if}}

                            </div>

                          </div>

                        </div>

                        <br>
                        <div class="car-wrap rounded ftco-animate row col-12 m-0 px-4 p-4 justify-content-center ">
                                      {{#if payment}}
                                      {{else}}
                          <input type="button" id="changeDate" class="btn btn-outline-info mx-2" value="Change Date">
                                          {{/if}}
                          <a type="button" href="/cars" class="btn btn-outline-success mx-2" value="">Change Car</a>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            {{#if booking}}
            <div class="col-md-7 p-4 " id="bookingPage">

              <div id="userDetails" class="car-wrap rounded ftco-animate ">
                <div class="row justify-content-center">
                  <div class="col-auto py-2 row col-6">
                    <a href="" class="py-2 col-4 text-success "><span>Booking</span></a>
                    <a href="" class="py-2 col-4 mx-0 "><span>Payment</span></a>
                    <a href="" class="py-2 col-4 mx-0  "><span>Confirm</span></a>

                  </div>
                </div>

                <h1 class="text-dark text-center "><i class='bx bx-heart'>Booking</i></h1>

                <div class="text">
             <form id="paymentForm">
  <div class="col-12 p-2">
    <label class="mb-1" for="email">Email Address</label>
    <input type="text" class="form-control" name="email" value="{{user.email}}" placeholder="Email Address" required>
  </div>

  <div class="col-12 p-2">
    <label class="mb-1" for="HolderName">Phone Number</label>
    <input type="text" class="form-control" value="{{user.phone}}" name="phone" placeholder="Card Holder Name" required>
  </div>
  <label class="p-0 ml-2 my-1" for="">Address</label>
  <div class="d-flex align-items-center card-atm rounded m-2 row">
    <input style="border: 0;" type="text" class="form-control col-12 border" name="houseName" value="{{address.houseName}}" placeholder="House Name">
    <div class="col-12 row m-0 p-0">
      <input style="border: 0;" type="text" class="form-control px-2 col-6 border" name="place" value="{{address.place}}" placeholder="Place">
      <input style="border: 0;" type="text" maxlength="3" class="form-control px-2 col-6 border" name="zip" value="{{address.zip}}" placeholder="Zip">
    </div>
  </div>
  <div class="col-12 p-2">
    <div class="row justify-content-end">
      <div class="col-auto">
        <!-- Changed type to "button" -->
        <button type="button" id="bookingPageSubmit" class="btn btn-primary py-2">Payment</button>
      </div>
    </div>
  </div>
</form>


                </div>

              </div>
            </div>
            {{/if}}
            {{# if payment}}
            
            <div class="col-md-7 p-4 " id="paymentPage">

              <div id="userDetails" class="car-wrap rounded ftco-animate ">
                <div class="row justify-content-center">
                 
                  <div class="col-auto py-2 row col-6">

                    <a href="" class="py-2 col-4  "><span>Booking</span></a>
                    <a href="" class="py-2 col-4 mx-0 text-success"><span>Payment</span></a>
                    <a href="" class="py-2 col-4 mx-0  "><span>Confirm</span></a>


                  </div>
                </div>

                <h1 class="text-dark text-center "><i class='bx bx-heart'>Payment</i></h1>

                <div class="text">
                  <form action="" id="">
                    {{!-- <div class="col-12 p-2">
                      <label class="mb-1" for="email">Email Address</label>
                      <input type="text" class="form-control" name="email" value="{{user.email}}"
                        placeholder="Email Address" required>
                    </div>

                    <div class="col-12 p-2">
                      <label class="mb-1" for="HolderName">Phone Number</label>
                      <input type="text" class="form-control" value="{{user.phone}}" name="phone"
                        placeholder="Card Holder Name" required>
                    </div>
                    <label class="p-0 ml-2 my-1" for="">Address</label>
                    <div class="d-flex align-items-center  card-atm  rounded m-2 row ">
                      <input style="border: 0;" type="text" class="form-control col-12 border" name="houseName"
                        value="{{address.houseName}}" placeholder="House Name">
                      <div class="col-12 row m-0 p-0">
                        <input style="border: 0;" type="text" class="form-control px-2 col-6 border" name="place"
                          value="{{address.place}}" placeholder="Place">
                        <input style="border: 0;" type="text" maxlength="3" class="form-control px-2 col-6 border"
                          name="zip" value="{{address.zip}}" placeholder="Zip">
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <div class="row justify-content-end">
                        <a href="" class="py-2"><span>Cancel Booking</span></a>
                        <div class="col-auto">
                          <button type="button" id="bookingCarButton" class="btn btn-primary py-2">Pay</button>
                        </div>
                      </div>
                    </div> --}}
                    <div class="form-group row justify-content-center px-5">
                      <div class="form-check px-5">
                        <a class="px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                            <path
                              d="M20 4H4c-1.103 0-2 .897-2 2v2h20V6c0-1.103-.897-2-2-2zM2 18c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-6H2v6zm3-3h6v2H5v-2z">
                            </path>
                          </svg>
                        </a>
                        <input class="form-check-input" type="radio" name="paymentOption" id="exampleRadio1"
                          value="cardPay" checked>
                        <label class="form-check-label" for="exampleRadio1">
                          Option 1
                        </label>
                      </div>
                      <div class="form-check px-5">
                        <a class="px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                            <path
                              d="M19.554 9.488c.121.563.106 1.246-.04 2.051-.582 2.978-2.477 4.466-5.683 4.466h-.442a.666.666 0 0 0-.444.166.72.72 0 0 0-.239.427l-.041.189-.553 3.479-.021.151a.706.706 0 0 1-.247.426.666.666 0 0 1-.447.166H8.874a.395.395 0 0 1-.331-.15.457.457 0 0 1-.09-.363c.061-.373.148-.938.267-1.689.117-.75.206-1.314.267-1.689s.15-.938.272-1.685c.121-.748.212-1.31.271-1.685.033-.248.179-.371.433-.371h1.316c.893.013 1.682-.057 2.375-.211 1.172-.262 2.134-.744 2.886-1.449.685-.637 1.203-1.462 1.56-2.473.162-.47.277-.917.352-1.338.006-.041.014-.066.025-.074.008-.011.022-.014.035-.011a.378.378 0 0 1 .062.035c.524.398.854.941.98 1.632zm-1.728-2.836c0 .717-.154 1.508-.465 2.374-.537 1.562-1.547 2.618-3.037 3.168-.758.269-1.602.408-2.535.425 0 .006-.301.007-.904.007l-.903-.007c-.672 0-1.067.32-1.187.964-.013.053-.298 1.83-.855 5.329-.008.066-.048.102-.121.102H4.854a.473.473 0 0 1-.369-.165.469.469 0 0 1-.115-.39L6.702 3.664a.784.784 0 0 1 .276-.483.785.785 0 0 1 .519-.19h6.014c.228 0 .555.044.979.131.428.084.801.194 1.123.321.718.274 1.266.688 1.645 1.237.379.552.568 1.207.568 1.972z">
                            </path>
                          </svg>
                        </a>
                        <input class="form-check-input" type="radio" name="paymentOption" id="exampleRadio2"
                          value="upiPay">
                        <label class="form-check-label" for="exampleRadio2">
                          Option 2
                        </label>
                      </div>
                    </div>
                    <div class=" rounded ftco-animate p-3" id="cardPay">
                      <div class="col-12 p-2">
                        <label class="mb-1" for="cardNumber">Card Number</label>
                        <input type="text" class="form-control" name="cardNumber" value="" placeholder="" required>
                      </div>

                      <div class="col-12 p-2">
                        <label class="mb-1" for="HolderName">Holder Name</label>
                        <input type="text" class="form-control" value="" name="phone" placeholder="" required>
                      </div>
                      <div class="col-12 p-2 row">


                        <input type="text" class="form-control col-5 mx-2 ml-3" value="" name="phone"
                          placeholder="Expairy Date" required>
                        <input type="password" class="form-control col-5 mx-2" value="" name="phone" placeholder="cvv"
                          required>
                      </div>
                      <div class="col-12 p-2">
                        <div class="row justify-content-end">
                          <input type="hidden" id="bookingId" value="{{bookingId}}">
                          <a id="cancelBooking" href="#" class="py-2"><span>Cancel Booking</span></a>
                          <div class="col-auto">
                            <button type="button" id="paymentSubmit" class="btn btn-primary py-2">{{amount}} $
                              Pay</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="car-wrap rounded ftco-animate" id="upiPay" style="display:none;">
                      <h3>UPI Payment</h3>
                      <p>This is the payment option for UPI payment.</p>
                    </div>
                </div>

              </div>
            </div>
          {{!-- <div class="col-md-7 p-4 " id="completePage">

              <div id="userDetails" class="car-wrap rounded ftco-animate ">
                <div class="row justify-content-center">
                  <div class="col-auto py-2 row col-6">
                    <a href="" class="py-2 col-4  "><span>Booking</span></a>
                    <a href="" class="py-2 col-4 mx-0 "><span>Payment</span></a>
                    <a href="" class="py-2 col-4 mx-0 text-success "><span>Confirm</span></a>


                  </div>
                </div>

                <h1 class="text-dark text-center "><i class='bx bx-heart'>Confirm</i></h1>

                <div class="text">
             <form id="paymentForm">
  <div class="col-12 p-2">
    <label class="mb-1" for="email">Email Address</label>
    <input type="text" class="form-control" name="email" value="{{user.email}}" placeholder="Email Address" required>
  </div>

  <div class="col-12 p-2">
    <label class="mb-1" for="HolderName">Phone Number</label>
    <input type="text" class="form-control" value="{{user.phone}}" name="phone" placeholder="Card Holder Name" required>
  </div>
  <label class="p-0 ml-2 my-1" for="">Address</label>
  <div class="d-flex align-items-center card-atm rounded m-2 row">
    <input style="border: 0;" type="text" class="form-control col-12 border" name="houseName" value="{{address.houseName}}" placeholder="House Name">
    <div class="col-12 row m-0 p-0">
      <input style="border: 0;" type="text" class="form-control px-2 col-6 border" name="place" value="{{address.place}}" placeholder="Place">
      <input style="border: 0;" type="text" maxlength="3" class="form-control px-2 col-6 border" name="zip" value="{{address.zip}}" placeholder="Zip">
    </div>
  </div>
  <div class="col-12 p-2">
    <div class="row justify-content-end">
      <div class="col-auto">
        <!-- Changed type to "button" -->
        <button type="button" id="" class="btn btn-primary py-2">Payment</button>
      </div>
    </div>
  </div>
</form>


                </div>

              </div>
            </div> --}}
{{/if}}

          </div>
        </div>
  </section>
</body>
{{!-- <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script> --}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.js'></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
 
  const bookingPage = document.getElementById('bookingPage')
  const paymentPage = document.getElementById('paymentPage')
  const completePage = document.getElementById('completePage')

  
const pickDateInput = document.getElementById('pickDate');
  const dropDateInput = document.getElementById('dropDate');
  const cancelBooking = document.getElementById('cancelBooking');
const paymentSubmit = document.getElementById('paymentSubmit')
if (paymentSubmit) {
paymentSubmit.addEventListener('click', (e)=> {
  e.preventDefault()
  axios.get('/userPayRent')
  .then( response => {
    bookingPage.style.display = 'none'
   paymentPage.style.display = 'none'
   completePage.style.display = 'block'

  })
   
})

}
  
  const error = document.getElementById('error');


  BackToBooking = document.getElementById('BackToBooking')

bookingPageSubmit = document.getElementById('bookingPageSubmit')
if (bookingPageSubmit) {
bookingPageSubmit.addEventListener('click', (e) => {
    e.preventDefault()
    if( pickDateInput || dropDateInput ){
    if (pickDateInput.value === "" || dropDateInput.value === "" ) {
      return error.innerHTML = 'Enter Pick-Up date and Drop-off date'
    }
    }
  const formDatas = {}; // Initialize an empty object

const paymentForm = document.getElementById('paymentForm');
const formData = new FormData(paymentForm);

for (const pair of formData.entries()) {
  const [key, value] = pair;
  formDatas[key] = value; // Use key as property of the object
}

console.log(formDatas);

    e.preventDefault()
    axios.post('/userBookedCar',formDatas)
    .then( (response) => {
      
          console.log(response)

          window.location.href = '/carBooking'
    })
    .catch (error =>  {
     console.log(error)
    })



  })
 
 } if (BackToBooking) {

  
  BackToBooking.addEventListener('click', (e) => {
    e.preventDefault()
    bookingPage.style.display = 'block'
    paymentPage.style.display = 'none'
  })
  }
  const radioButtons = document.querySelectorAll('input[name="paymentOption"]');
  const cardPayDiv = document.getElementById('cardPay');
  const upiPayDiv = document.getElementById('upiPay');

  radioButtons.forEach(function (radioButton) {
    radioButton.addEventListener('change', function () {
      if (this.value === 'cardPay') {
        cardPayDiv.style.display = 'block';
        upiPayDiv.style.display = 'none';
      } else if (this.value === 'upiPay') {
        cardPayDiv.style.display = 'none';
        upiPayDiv.style.display = 'block';
      }
    });
  });
  function goBack() {
    window.history.back();
  }
  const changeDateButton = document.getElementById('changeDate');
  changeDateButton.addEventListener('click', (e) => {
    e.preventDefault();
    axios.get('/changeDate')
      .then(response => {
        // Handle response data here
        console.log(response.data); // Just an example, replace with your handling logic
        window.location.href = '/carBooking'
      })
      .catch(error => {
        // Handle error
        console.error('Error:', error);
      });
  });

  
  const calendarEl = document.getElementById('calendar');


  // Add event listeners to open the calendar when the input fields are clicked
  pickDateInput.addEventListener('click', function () {
    openCalendar(pickDateInput);
  });

  dropDateInput.addEventListener('click', function () {
    openCalendar(dropDateInput);
  });

  function openCalendar(inputField) {
    // Get today's date
    const today = new Date();
    const todayStr = today.toISOString().split('T')[0]; // Format: YYYY-MM-DD

    // Create the FullCalendar instance
    calendarEl.style.display = 'block'
    const calendar = new FullCalendar.Calendar(calendarEl, {
      themeSystem: 'bootstrap',
      initialView: 'dayGridMonth',
      selectable: true,
      select: function (info) {
        // Check if the selected date is today or after today
        if (info.start >= today) {
          // Set the value of the input field to the selected date
          inputField.value = info.startStr;
        } else {
          // Show an error message or handle the invalid selection
          alert('Please select a date today or after today.');
        }
      },
      // Set constraints for date selection (today or after today)
      selectConstraint: {
        start: todayStr, // Start date must be today or after today
        end: '2024-12-31' // End date constraint (optional)
      },
      headerToolbar: {
        start: 'title',
        center: '',
        end: ' prev,next'
      },

    });
    calendar.render();

  }


  const submitBtn = document.getElementById('submitButton');

  submitBtn.addEventListener('click', function (e) {
    e.preventDefault()
    const pickDate = document.getElementById('pickDate').value;
    const dropDate = document.getElementById('dropDate').value;
    const carId = document.getElementById('carId').value;

    
    calendarEl.style.display = 'none'
    console.log(pickDate)
    axios.get(`/addDate?pickDate=${pickDate}&&dropDate=${dropDate}&&carId=${carId} `)
      .then(response => {
       console.log(response)
        window.location.href = '/carBooking'
      })




  });

  window.addEventListener('popstate', function (event) {
    // Check if the popstate event is triggered by navigating back
    if (event.state && event.state.pageReload) {
      // Reload the page
      location.reload();

    }
  });

  // Push a state into history to trigger popstate event when navigating back
  history.pushState({ pageReload: true }, '');




</script>