<style>
  #calendar {
    width: 250px;
    /* Adjust the width as needed */
    height: 300px;
    /* Adjust the height as needed */
    overflow: hidden;
    display: none;
    /* Hide overflow if necessary */
  }
</style>

<body style="color: black;">

  <section style="background-color: #127a50fd;" class="ftco-section ftco-car-details col-md-12  px-1" style=""
    data-stellar-background-ratio="0.5">
    <div class="overlay">

    </div>
    <div class="container ">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="container">
          <div class="row ">
            <div class="col-md-6 ">
              <div class="car-wrap rounded ftco-animate">

                <div class="card">
                  <div class="card-body p-0 m-0">
                    <div class="d-flex flex-column p-0">
                      <div class="mt-3 m-0 p-4 row">
                        <div class="col-1 pt-2">
                          <a type="button" onclick="goBack()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                              <path
                                d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z">
                              </path>
                            </svg>

                          </a>
                        </div>

                        <h2 class="text-center col-11">Your Booking Details</h2>
                        <h5 class="text-left m-2 ml-2">$343</h5>
                        
                        <div style="border: 1px solid;" class="car-wrap rounded ftco-animate row col-12 m-0 p-1 ">
                          <div class="col-2 px-2 py-2 img-fluid"
                            style="background-image: url({{car.carImage}}); background-size: cover; background-position: center; height: 100px; width: 100%;">
                          </div>
                          <div class="col-10 px-4 py-2">
                            <h6 class="text-dark">{{car.carName}}</h6>
                            {{#if dayDifferenceIn }}
                            <h6 class="text-dark">{{formattedDropDate}} to {{formattedPickDate}}</h6>
                            <h6 class="text-dark">0{{dayDifferenceIn}} / dayes</h6>
                            {{else }}
                            <div class="row col-12 m-0 p-0">
                              <label for="" class="col-6 m-0">Pick-up</label>
                              <label for="" class="col-6 m-0">Drop-off</label>
                              <form>
                                <input style="border: 1px solid;" id="pickDate" type="text" class="col-5  rounded  ">
                                <input style="border: 1px solid;" id="dropDate" type="text"
                                  class="col-5 ml-1  rounded ">
                                <input style="border: 1px solid;" id="carId" value="{{car._id}}" type="hidden"
                                  class="col-5 ml-1  rounded ">

                                <input type="button" id="submitButton" class="btn btn-outline-success col-1 mx-1 p-1"
                                  value="OK">

                              </form>
                            </div>
                            {{/if}}
                          </div>

                          <div id="calendar" class="car-wrap rounded ftco-animate row col-12 m-0 p-1 "> </div>

                          <br>

                        </div>
                        
                            <div class="col-md-12 p-0 " >
                              <br>
                      <div id="userDetails" class="car-wrap rounded ftco-animate ">
                        
                        <div class="text">
                          <div class="d-flex mb-1">
                            <span class="cat">Car Model </span>
</span>
                            <p class="price ml-md-auto ml-2">{{car.carModal}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">Fuel Type </span>
</span>
                            <p class="price ml-md-auto ml-2">{{car.fuelType}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">Transmission </span>
                          </span>
                            <p class="price ml-md-auto ml-2">{{car.TransmitionType}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">Day Rent</span>
                            </span>
                            <p class="price ml-md-auto ml-2">{{car.dayRent}} <span></span></p>
                          </div>
                          
                        {{#if message}}
                        <div class="d-flex m-4">
                            </span>
                            <p class="price ml-md-auto ml-2 text-danger">{{message}} <span><a type="button" id="recover" class="col-2 btn btn-success" href="#">Recuver</a></span></p>
                          </div>
                        {{/if}}

                        </div>
                        
                      </div>
                      
                    </div>
                     
                        <br>
                        <div style="border: 1px solid;" class="car-wrap rounded ftco-animate row col-12 m-0 px-4 p-2 ">
                          <input type="button" id="changeDate" class="btn btn-outline-info mx-2" value="Change Date">

                          <a type="button"  href="/cars"  class="btn btn-outline-success mx-2" value="">Change Car</a>
                          <input type="button" class="btn btn-outline-danger mx-2" value="">

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6  ">

              <div id="userDetails" class="car-wrap rounded ftco-animate ">
              							<h1 class="text-dark text-center pt-4"><i class='bx bx-heart' >Payment</i></h1>

                <div class="text">
                  <form action="" id="paymentForm">
                    <div class="col-12 p-2">
                      <label class="mb-1" for="email">Email Address</label>
                      <input type="text" class="form-control" name="email" value="{{user.email}}"
                        placeholder="Email Address" required>
                    </div>
                    <label class="p-0 ml-2 my-1" for="">Card Details</label>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded m-2">
                      <div class="fab fa-cc-visa"></div>
                      <input style="border: 0;" type="text" name="cardNumber" class="form-control"
                        placeholder="Card Number">
                      <div class="d-flex w-50">
                        <input style="border: 0;" type="text" class="form-control px-0" name="expire"
                          placeholder="MM/YY" required>
                        <input style="border: 0;" type="password" maxlength="3" class="form-control px-0" name="cvv"
                          placeholder="CVV" required>
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <label class="mb-1" for="HolderName">Card Holder Name</label>
                      <input type="text" class="form-control" value="{{user.name}}" name="holderName"
                        placeholder="Card Holder Name" required>
                    </div>
                    <label class="p-0 ml-2 my-1" for="">Address</label>
                    <div class="d-flex align-items-center  card-atm  rounded m-2 row ">
                      <input style="border: 0;" type="text" class="form-control col-12 border" name="houseName"
                        value="{{address.houseName}}" placeholder="House Name">
                      <div class="col-12 row m-0 p-0">
                        <input style="border: 0;" type="text" class="form-control px-2 col-6 border" name="place"
                          value="{{address.place}}" placeholder="Place">
                        <input style="border: 0;" type="text" maxlength="3" class="form-control px-2 col-6 border"
                          name="zip" value="{{address.zip}}" placeholder="Zip">
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <button type="button" id="bookingCarButton" class="btn btn-primary col-12">Pay <span
                          class="fas fa-dollar-sign px-1">$ {{data.rate}}</span></button>
                    </div>
                  </form>


                </div>

              </div>
            </div>


          </div>
        </div>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.js'></script>

<script>
  function goBack() {
    window.history.back();
  }
  const changeDateButton = document.getElementById('changeDate');
  changeDateButton.addEventListener('click', (e) => {
    e.preventDefault();
    axios.get('/changeDate')
      .then(response => {
        // Handle response data here
        console.log(response.data); // Just an example, replace with your handling logic
        window.location.href = '/carBooking'
      })
      .catch(error => {
        // Handle error
        console.error('Error:', error);
      });
  });

  const pickDateInput = document.getElementById('pickDate');
  const dropDateInput = document.getElementById('dropDate');
  const calendarEl = document.getElementById('calendar');


  // Add event listeners to open the calendar when the input fields are clicked
  pickDateInput.addEventListener('click', function () {
    openCalendar(pickDateInput);
  });

  dropDateInput.addEventListener('click', function () {
    openCalendar(dropDateInput);
  });

  function openCalendar(inputField) {
    // Get today's date
    const today = new Date();
    const todayStr = today.toISOString().split('T')[0]; // Format: YYYY-MM-DD

    // Create the FullCalendar instance
    calendarEl.style.display = 'block'
    const calendar = new FullCalendar.Calendar(calendarEl, {
      themeSystem: 'bootstrap',
      initialView: 'dayGridMonth',
      selectable: true,
      select: function (info) {
        // Check if the selected date is today or after today
        if (info.start >= today) {
          // Set the value of the input field to the selected date
          inputField.value = info.startStr;
        } else {
          // Show an error message or handle the invalid selection
          alert('Please select a date today or after today.');
        }
      },
      // Set constraints for date selection (today or after today)
      selectConstraint: {
        start: todayStr, // Start date must be today or after today
        end: '2024-12-31' // End date constraint (optional)
      },
      headerToolbar: {
        start: 'title',
        center: '',
        end: ' prev,next'
      },

    });
    calendar.render();

  }


  const submitBtn = document.getElementById('submitButton');

  submitBtn.addEventListener('click', function (e) {
    e.preventDefault()
    const pickDate = document.getElementById('pickDate').value;
    const dropDate = document.getElementById('dropDate').value;
    calendarEl.style.display = 'none'
    console.log(pickDate)
    axios.get(`/addDate?pickDate=${pickDate}&&dropDate=${dropDate} `)
      .then(response => {

        window.location.href = '/carBooking'
      })




  });

  window.addEventListener('popstate', function (event) {
    // Check if the popstate event is triggered by navigating back
    if (event.state && event.state.pageReload) {
      // Reload the page
      location.reload();

    }
  });

  // Push a state into history to trigger popstate event when navigating back
  history.pushState({ pageReload: true }, '');
</script>