 <style>
	    .time-picker {
        width: 300px;
        height: 20px;
        background-color: #f0f0f0;
        position: relative;
        cursor: pointer;
    }

    .time-handle {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        cursor: pointer;
    }

    .flatpickr-calendar {
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 5px;
    }

    .flatpickr-day {
        background-color: transparent;
    }

    .flatpickr-day.today {
        background-color: #01d28e;
    }

    .flatpickr-month {
        font-size: 1.em;
    }

 </style>
 <body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{car.carImage}});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">{{car.carName}}</h1>
          </div>
        </div>
      </div>
    </section>
		

		<section class="ftco-section ftco-car-details">
      <div class="container">
      	<div class="row justify-content-center">
      		<div class="col-md-12">
      			<div class="car-details">
      				<div class="img rounded" style="background-image: url({{car.carImage}});"></div>
      				<div class="text text-center">
      					<span class="subheading">{{car.carName}}</span>
      					<h2>{{car.brandName}}</h2>
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Mileage
		                	<span>{{car.milage}}</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Transmission
		                	<span>{{car.TransmitionType}}</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Seats
		                	<span>{{car.seats}} Adults</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Luggage
		                	<span>{{car.luggage}} Bags</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Fuel
		                	<span>{{car.fuelType}}</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
      	</div>


		<div class="row  justify-content-center">
      		<div class="col-md d-flex align-self-stretch ftco-animate justify-content-md-center justify-content-left">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	License Number
		                	<span>{{car.licensePlateNumber}}</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Location
		                	<span>{{car.location}}</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                    Category
		                	<span>{{car.carCategory}} </span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>      
          </div>
        
          
      	</div>
        
{{#if date}}
<div class="col-12 d-flex justify-content-center">
              <a href="/bookingCar?carId={{car._id}}" class="btn btn-outline-success py-2 mr-1">Book {{car.carName}} </a>

</div>
{{else}}
       <div style="border: solid 1px; padding: 5px;" class="col-12 row d-flex justify-content-between rounded p-md-4 px-3 ml-1">
    <input type="text" style="border: solid 1px;" id="pickDate" placeholder="Pick-Up-Time" class="col-md-3 col-5 my-2 rounded">
    <input type="text" style="border: solid 1px;" id="dropDate" placeholder="Drop-off-Time" class="col-md-3 col-5 my-2 rounded">
	<p id='error' class="text-danger"></p>
			<input type="hidden" id="carId" value="{{car._id}}">
			<input type="button" class="col-md-2 col-11 my-2 btn btn-success " id="bookCar" value="Book Now">

		</div>
    {{/if}}



      	<div class="row">
      		<div class="col-md-12 pills">
						<div class="bd-example bd-example-tabs">
							<div class="d-flex justify-content-center">
							  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

							    <li class="nav-item">
							      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
							    </li>
							    <li class="nav-item">
							      <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
							    </li>
							    <li class="nav-item">
							      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
							    </li>
							  </ul>
							</div>

						  <div class="tab-content" id="pills-tabContent">
						    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
						    	

                                <p> {{car.features}}</p>

						    </div>

						    <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                                    <p> {{car.description}}</p>
                                
                           </div>
						     <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
						      <div class="row justify-content-center">
    <div class="col-md-7">
        <div class="d-flex flex-column align-items-center" style="max-height: 300px; overflow-y: auto;">
            <h3 class="head">{{car.rating.length}} Reviews</h3>
            {{#each car.rating}}
            <div class="review">
                <div class="desc">
                    <h4 class="d-flex justify-content-between">
                        <span>{{this.name}}</span>
                        <span>{{this.date}}</span>
                    </h4>
                    <p class="star">
                        <span id="starRating{{@index}}"></span>
                    </p>
                    <p>{{this.description}}</p>
                </div>
            </div>
            <script>
                // Function to dynamically generate star ratings
                function showStars(rating, containerId) {
                    let starsHTML = '';
                    for (let i = 0; i < 5; i++) {
                        if (i < rating) {
                            starsHTML += '<i class="ion-ios-star"></i>';
                        } else {
                            starsHTML += '<i class="ion-ios-star-outline"></i>';
                        }
                    }
                    document.getElementById(containerId).innerHTML = starsHTML;
                }

                // Example usage to populate star ratings
                showStars({{this.rate}}, 'starRating{{@index}}');
            </script>
            {{/each}}
        </div>
    </div>
</div>

						    </div>

						  </div>
						</div>
		      </div>
				</div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">Choose Car</span>
            <h2 class="mb-2">Related Cars</h2>
          </div>
        </div>
        <div class="row">
        	

				 {{#each data}}

               <div class="col-md-4">
                <!-- Your existing content -->
             
    				<div class="car-wrap rounded ftco-animate">
    					<img style="height:325px;object-fit: cover; width: 100%; " alt="Car Image" class="img rounded d-flex align-items-end img-fluid" src='{{carImage}}'>
    					<div class="text">
                            
    						<h2 class="mb-0"><a href="car-single.html">{{carName}}</a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat">{{carModal}}/{{brandName}}</span>
	    						<p class="price ml-auto">${{dayRent}} <span>/day</span></p>
    						</div>
    						<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="/carDetails?id={{_id}}" class="btn btn-secondary py-2 ml-1">Details</a></p>
    					</div>
    			
            </div>
            
            </div>
            {{/each}}
           
        </div>
    	</div>
    </section>
    


    
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- loader -->
<script>
  const bookCar = document.getElementById('bookCar')
  const error = document.getElementById('error')
  bookCar.addEventListener('click', (e) => {
	const pickDate = document.getElementById('pickDate').value
	const dropDate = document.getElementById('dropDate').value
	const carId = document.getElementById('carId').value

			if (pickDate === ''){
		error.innerHTML = 'Please Select Pick-Up-Time'
		return false
	}
	if (dropDate === ''){
		error.innerHTML = 'Please Select Drop-Off-Time'
		return false
	}
	error.innerHTML = ''
	axios.post('/bookNow',{pickDate, dropDate, carId })
	.then((res) => {
		console.log(res)
    window.location.href = '/bookingCar'
	})
	.catch((err) => {
		console.log(err)
	})
  })
	
// Initialize pickDate picker
var pickDate = flatpickr("#pickDate", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    minTime: "08:00",
    maxTime: "22:00",
    minDate: "today",
    disableMobile: "true",
    disable: getDisableDates(),
     onChange: function(selectedDates, dateStr, instance) {
        // Your existing onChange logic
        var pickupDate = selectedDates[0];
        var maxDropoffDate = new Date(pickupDate);
        maxDropoffDate.setDate(maxDropoffDate.getDate() + 365); // Set max drop-off date to 365 days after pickup date

        // Find the nearest disabled date after pickup date
        var disabledDates = getDisableDates();
        for (var i = 0; i < disabledDates.length; i++) {
            if (disabledDates[i] > pickupDate) {
                maxDropoffDate = disabledDates[i];
                break;
            }
        }

        // Update the disable dates for dropDate picker
        dropDate.set("disable", getDisableDates(selectedDates));

        // Set maxDate for dropDate picker
        dropDate.set("maxDate", maxDropoffDate);

        // Set minDate for dropDate picker
        dropDate.set("minDate", pickupDate);

        // Ensure dropDate is after pickupDate
        var dropoffInstance = document.getElementById("dropDate")._flatpickr;
        if (dropoffInstance.selectedDates.length > 0 && dropoffInstance.selectedDates[0] < pickupDate) {
            dropoffInstance.setDate(pickupDate);
        }
    }
});

// Initialize dropDate picker
var dropDate = flatpickr("#dropDate", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    minTime: "08:00",
    maxTime: "22:00",
    minDate: "today",
    disableMobile: "true",
    disable: getDisableDates()
});

function getDisableDates(selectedDates) {
    var disableDates = [];
    {{#each this.bookings}}
    var pickupDate = new Date("{{this.pickupDate}}");
    var returnDate = new Date("{{this.returnDate}}");
    
    // Disable all dates within the booking range
    var currentDate = new Date(pickupDate);
    while (currentDate <= returnDate) {
        disableDates.push(new Date(currentDate));
        currentDate.setDate(currentDate.getDate() + 1);
    }
    {{/each}}
    return disableDates;
}



</script>
  </body>