<style>
      
       .col-12 input[type="text"],input[type="email"],input[type="date"] {
    border: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
    {{!-- border-left: 2px solid rgb(5, 5, 5); --}}
    outline: none; /* Removes the default focus outline */
  }.glass-effect {
    background-color: rgb(38, 156, 119); /* Adjust opacity as needed */
    border-radius: 10px;
    
    }
    label{
      color: black;
    }
</style>
<body>
  
<section class="hero-wrap hero-wrap-2 js-fullheight m-0" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12	featured-top">
    				<div class="row no-gutters">
	  					<div class=" col-md-4 d-flex align-items-center">
	  						<form action="#" class=" request-form ftco-animate glass-effect ">
		          		<h2>Make your trip</h2>
			    				<div class="form-group  px-3 py-0  col-12 ">
			    					<label for="" class="label px-0">Pick-up location</label>
			    					<input style="border-radius: 10px;" id="location"  type="text" class=" col-12 p-1" placeholder="City, Airport, Station, etc">
			    				</div>
			    				{{!-- <div class="form-group  px-3 py-0  col-12">
			    					<label for="" class="label px-0">Drop-off location</label>
			    					<input style="border-radius: 10px;" id=""  type="text" class="p-1 col-12" placeholder="City, Airport, Station, etc">
			    				</div> --}}
			    				<div class="d-flex  px-3  row">
			    					<div class="form-group  col-6">
			                <label for="" class="label   ">Pick-up date</label>
			                <input style="border-radius: 10px;" id="pickDate"  type="date" class="p-1 col-12" id="book_pick_date" placeholder="Date">
			              </div>
			              <div class="form-group   col-6">
			                <label for="" class="label ">Drop-off date</label>
			                <input style="border-radius: 10px;"  type="date" id="dropDate" class="p-1 col-12" id="book_off_date" placeholder="Date">
			              </div>
                          <div class="form-group col-12 px-3 py-0">
		                <label for="" class="label px-0">Pick-up time</label>
		                
                    <input style="border-radius: 10px;" id="pickTime" type="text" class=" p-1 col-12  " id="time_pick" placeholder="Time">
                      <input type="hidden" id="id" value="{{car._id}}" >
					
					 <button id="submitButton" type="button">Submit</button>
			    			</form>
	  					</div>
                        
	  				
	  				</div>
                    
				</div>
                
  		</div>
        
    </section>
    

<section class="ftco-section bg-light col-12 row m-0 ">
  <aside class="col-md-12">
<div class="col-12 p-2 ftco-section car-wrap rounded ftco-animate  ml-2   ">
   <input class="col-12 p-2" style="border: 0;"  id="search"  type="search" name="serch" placeholder="Search . . .">
</div>
</aside>
 <aside class="col-md-2">
        <!-- Sidebar Content -->
        <div id="transmission" class="align-items-left car-wrap rounded ftco-animate my-0 p-2 ml-2">
         
           <div class="text p-1">

    						<h2 class="mb-0">  Transmission</a></h2>
              </div>
           <input type="checkbox" id="mannual" name="Manual" class="m-1" value="Manual">
            <label for="Manual">Manual</label><br>
            
            <input type="checkbox" id="automatic" name="Automatic" class="m-1" value="Automatic">
            <label for="Automatic">Automatic</label><br>
            </div>
          <div id="engine" class="align-items-left car-wrap rounded ftco-animate my-2 p-2 ml-2">
        
        <div class="text p-1">

    						<h2 class="mb-0"><a > Engine Type</a></h2>
              </div>
         <input type="checkbox" id="Petrol" name="Petrol" class="m-1" value="Petrol">
            <label for="Petrol">Petrol</label><br>
            
            <input type="checkbox" id="Diesel" name="Diesel" class="m-1 " value="Diesel">
            <label for="Diesel">Diesel</label><br>

            </div>
        </div>
          <div id="category" class="align-items-left car-wrap rounded my-2 ftco-animate p-2 ml-2">
    					<div class="text p-1">

    						<h2 class="mb-0"><a >Category</a></h2>
              </div>
              <input type="checkbox" id="MUVs" name="MUVs" class="m-1" value="MUVs">
            <label for="MUVs">MUVs</label><br>
            
            <input type="checkbox" id="SUVs" name="SUVs" class="m-1 " value="SUVs">
            <label for="SUVs">SUVs</label><br>

            <input type="checkbox" id="Sedan" name="Sedan" class="m-1" value="Sedan">
            <label for="Sedan">Sedan</label><br>

            <input type="checkbox" id="Sports Car" name="Sports Car" class="m-1" value="Sports Car">
            <label for="Sports Car">Sports Car</label><br>
            
            <input type="checkbox" id="Hatchbacks" name="Hatchbacks" class="m-1" value="Hatchbacks">
            <label for="Sedan">Hatchbacks</label><br>
            
            <input type="checkbox" id="Electric" name="Electric" class="m-1" value="Electric">
            <label for="Sedan">Electric</label><br>
        </div>
    </aside>
    
  
    <div class="container col-md-10 align-item-center">
                    <div class="rowcars row">
                                  {{#each data}}

               <div class="col-md-4">
                <!-- Your existing content -->
             
    				<div class="car-wrap rounded ftco-animate">
    					<img style="height:325px;object-fit: cover; width: 100%; " alt="Car Image" class="img rounded d-flex align-items-end" src='{{carImage}}'>
    					<div class="text">
                            
    						<h2 class="mb-0"><a href="car-single.html">{{carName}}</a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat">{{carModal}}/{{brandName}}</span>
	    						<p class="price ml-auto">${{dayRent}} <span>/day</span></p>
    						</div>
    						<p class="d-flex mb-0 d-block"><a href="/carBooking?carId={{_id}}"  class="btn btn-primary py-2 mr-1">Book now</a> <a href="/carDetails?id={{_id}}" class="btn btn-secondary py-2 ml-1">Details</a></p>
    					</div>
    			
            </div>
            
            </div>
            {{/each}}
           
           
                    </div>
            

            

      
           
        
    </div>
</section>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    let transmission = [];
    let engine = []
    let category = []
    let searchText = ''

    let locationData = ''
     let pickTimeData= ''
     let pickDateData = ''
     let dropDateData = ''
     let carId = ''


     const submitBtn = document.getElementById('submitButton');
submitBtn.addEventListener('click', function() {
     locationData = document.getElementById('location').value;
     pickTimeData = document.getElementById('pickTime').value;
     pickDateData = document.getElementById('pickDate').value;
     dropDateData = document.getElementById('dropDate').value;
     carId = document.getElementById('id').value;
                $('.container .rowcars').empty();
      
      submit()



});
function submit(location, pickDate, dropDate) {
    axios.post('/addLocationAndDate?id=`${carId}`', { location, pickDate, dropDate, carId})
        .then(response => {
            console.log(response.data);
        })
        .catch(error => {
            console.error(error);
        });
}

       $('#transmission input').on('change', function () {
        // Check if the checkbox is checked
        if ($(this).is(':checked')) {
             if (transmission.length === 2){
                transmission = transmission.splice()

            }
            // If checked, add its value to the transmission array
            transmission.push($(this).val());
        } else {
       
            // If unchecked, remove its value from the transmission array
            const index = transmission.indexOf($(this).val());
            if (index !== -1) {
                transmission.splice(index, 1);

            }
        }
        
                $('.container .rowcars').empty();

            submit()})
            
$('#engine input').on('change', function () {
        // Check if the checkbox is checked
        if ($(this).is(':checked')) {
            if (engine.length === 2){
                engine = engine.splice()

            }
            // If checked, add its value to the transmission array
            engine.push($(this).val());
        } else {
            // If unchecked, remove its value from the transmission array
            const index = engine.indexOf($(this).val());
            if (index !== -1) {
                engine.splice(index, 1);

            }
        }
        
        
                $('.container .rowcars').empty();
            submit()})

            $('#category input').on('change', function () {
        // Check if the checkbox is checked
        if ($(this).is(':checked')) {
            if (category.length === 6){
                category = category.splice()

            }
            // If checked, add its value to the transmission array
            category.push($(this).val());
        } else {
            // If unchecked, remove its value from the transmission array
            const index = category.indexOf($(this).val());
            if (index !== -1) {
                category.splice(index, 1);

            }
        }
        
        
                $('.container .rowcars').empty();
            submit()})
    
// Event listener for keydown event in the search input field
// Event listener for keydown event in the search input field
$('#search').on('keydown', function(event) {
    // Check if the Enter key is pressed (keyCode 13)
    if (event.keyCode === 13) {
        // Get the value entered in the search input field
         searchText = $(this).val();

        // Log the search text to the console for testing
        console.log("Search text:", searchText);
          searcCar()
                $('.container .rowcars').empty();

        // Clear the input field after logging the search text (optional)
        $(this).val('');
    }
});

 function searcCar () {
  axios.post('/searchCar',{ searchText }) 
  .then(response => { 
     const cars = response.data;

                    if (cars.length === 0) {
                        // Handle case where no cars match the criteria
                    } else {
                        cars.forEach(car => {
                            const carHtml = `
                                <div class="col-md-4">
                                    <div class="car-wrap rounded ">
                                        <img style="height:325px;object-fit: cover; width: 100%; "  class="img rounded d-flex align-items-end" src="${car.carImage}">
                                        <div class="text">
                                            <h2 class="mb-0"><a href="car-single.html">${car.carName}</a></h2>
                                            <div class="d-flex mb-3">
                                                <span class="cat">${car.carModal}/${car.brandName}</span>
                                                <p class="price ml-auto">${car.dayRent} <span>/day</span></p>
                                            </div>
                                            <p class="d-flex mb-0 d-block">
                                                <a href="/carBooking?carId=${car._id}" class="btn btn-primary py-2 mr-1">Book now</a>
                                                <a href="/carDetails?id=${car._id}" class="btn btn-secondary py-2 ml-1">Details</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            `;
                            $('.container .rowcars').append(carHtml);
                        });
                    }
                })
    
    .catch(error => {
      console.log(error)
    })
  }



          

function submit(){
  if(transmission.length === 0){
    transmission=['Manual','Automatic']
  }
  if(engine.length === 0){
    engine = ['Petrol','Diesel']
  }
  if(category.length === 0){
    category = ['MUVs','SUVs','Sedan','Sports Car','Hatchbacks','Electric']
  }
    url = '/filterCars'
    console.log(transmission)
    console.log(engine)
    console.log(category)


    axios.post(url,{ transmission:transmission, fuel:engine, carCategory:category ,pickDateData, dropDateData })
  
    .then(response => {
      const cars = response.data;

                    if (cars.length === 0) {
                        // Handle case where no cars match the criteria
                    } else {
                        cars.forEach(car => {
                            const carHtml = `
                                <div class="col-md-4">
                                    <div class="car-wrap rounded ">
                                        <img style="height:325px;object-fit: cover; width: 100%; "  class="img rounded d-flex align-items-end" src="${car.carImage}">
                                        <div class="text">
                                            <h2 class="mb-0"><a href="car-single.html">${car.carName}</a></h2>
                                            <div class="d-flex mb-3">
                                                <span class="cat">${car.carModal}/${car.brandName}</span>
                                                <p class="price ml-auto">${car.dayRent} <span>/day</span></p>
                                            </div>
                                            <p class="d-flex mb-0 d-block">
                                                <a href="/carBooking?carId=${car._id}&&pickDate=${pickDateData}&&dropDate=${dropDateData}&&" class="btn btn-primary py-2 mr-1">Book now</a>
                                                <a href="/carDetails?id=${car._id}&&pickDate=${pickDateData}&&dropDate=${dropDateData}" class="btn btn-secondary py-2 ml-1">Details</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            `;
                            $('.container .rowcars').append(carHtml);
                        });
                    }
                })
    
    .catch(error => {
      console.log(error)
    })
  }

           
    

    
          

   
   
 

    // Add event listeners to checkboxes
 
    
</script>

       

