{{>header}}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Profile <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">{{data.name}}</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 col-12 contact-info">
        	<div class="col-md-2">
        		<div class="row mb-5">
		          <div class="col-md-12">
		          	<div class="border w-100 col-11 p-0 rounded mb-2 d-flex">
			          	<div class="icon mr-0">
			          		{{!-- <span class="icon-map-o"></span> --}}
                      <span style="font-size:8.2rem;" class="icomoon icon-user ml-4"></span>
			            <p class="ml-0 pl-2"><span></span> {{data.name}}</p>
			          	</div>
                  

			          </div>
             <a href="/logout?{{data._id}}">
                      <div class="border w-100 col-11 p-1 pl-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3 ">
			          		{{!-- <span class="icon-map-o"></span> --}}
                    <p class="ml-">Logout</p>
			          	</div>
			          </div>
                </a>

                 <a href="/edit?{{data._id}}">
                      <div class="border w-100 col-11 p-1 pl-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3 ">
			          		{{!-- <span class="icon-map-o"></span> --}}
                    <p class="ml-">Edit </p>
			          	</div>
			          </div>
                </a>


                 <a href="/delete?{{data._id}}">
                      <div class="border w-100 col-11 p-1 pl-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3 ">
			          		{{!-- <span class="icon-map-o"></span> --}}
                    <p class="ml-">Delete</p>
			          	</div>
			          </div>
                </a>
                
                
		          </div>
		          	{{!-- <div class="border w-100 p-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3">
			          		<span class="icon-mobile-phone"></span>
			          	</div>
			            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
			          </div>
		          </div>
		          --}}
          </div>
              
        </div>
          <div class="col-md-7 block-9 mb-md-5">
                      <div class="border w-100 col-12 p-1 pl-4 rounded  ">

              <div class="form-group">
                <div class="icon mr-3">
			          		<span class="icon-envelope-o"></span>
     	</div>
			            <p style="display: flex;"><span>Email:</span> {{data.email}}</p>
                  </div>
          </div>

                                <div class="border w-100 col-12 p-1 pl-4 mt-2 rounded  ">

              <div class="form-group">
                <div class="icon mr-3">
			          		<span class="icon-mobile-phone"></span>
			          	</div>
			            <p style="display: flex;"><span>Phone:</span> {{data.phone}}</p>
                  </div>
          </div>
                                <div class="border w-100 col-12 p-1 pl-4 mt-2 rounded  ">

           <div class="form-group">
                <div class="icon mr-3">
<span class="icomoon icon-user"></span>			          	</div>
			            <p  style="display: flex;"><span>Age: </span>&nbsp; &nbsp; {{ data.age}}</p>
                  </div>
        
          </div>

            <div class="border w-100 col-12 p-1 pl-4 mt-2 rounded  ">

              <div class="form-group">
                <div class="icon mr-3">
			          		<span class="icomoon icon-address-book"></span>

			          	</div>
			            <p><span>Address:</span> Place :  {{ address.place}}</p>
			            <p ><span></span> House Name :  {{ address.houseName}}</p>

			            <p><span></span> Zip Code :  {{ address.zip}}</p>

                  </div>
          </div>

                  
              {{!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div> --}}
            {{!-- </form> --}}
          
        </div>
        <div class="row justify-content-center">
        	<div class="col-md-12">
        		<div id="map" class="bg-white"></div>
        	</div>
        </div>
      </div>
    </section>
{{>footer}}
