 <style>
  #adminMessage{
    display: none;
  }
 </style>
 <body style="background-color: rgb(49, 141, 107);">
    
  <section class="py-4 " style="" data-stellar-background-ratio="0.5">
      <div class="overlay">
        
      </div>
      <div class="container ">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
         	<div class="container">
    		<div class="row ">
          <div class="col-md-4 ">
                      <div class="car-wrap rounded ftco-animate">
                        
                         <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3 mb-4">
                      <h4>{{name}}</h4>
                      <p class="text-secondary mb-3 mt-2">{{data.email}}</p>
                      {{!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> --}}
                      <a href="" data-toggle="modal" data-target="#exampleModalCenter"  class="btn btn-info px-4">Edit</a>
                      <a href="/logout"  class="btn btn-outline-warning px-4">Logout</a>
                      <a href="/deleteUser?deleteId={{data._id}}" class="btn btn-outline-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
                      </div>
                    </div>
                    <div class="col-md-8  " >
                      <div id="userDetails" class="car-wrap rounded ftco-animate ">
                        
                        <div class="text">
                          <h2 class="mb-0"><a>{{name}}</a></h2>
                          <div class="d-flex mb-1">
                            <span class="cat">Email </span>
</span>
                            <p class="price ml-md-auto ml-2">{{data.email}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">Phone </span>
</span>
                            <p class="price ml-md-auto ml-2">{{data.phone}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">Age </span>
                          </span>
                            <p class="price ml-md-auto ml-2">{{data.age}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">License Number </span>
                            </span>
                            <p class="price ml-md-auto ml-2">{{data.licenseNumber}} <span></span></p>
                          </div>
                            <p style="color: black;" >Address</p>
                           <div class="d-flex mb-1">
                            <span class="cat">Place </span>
                            </span>
                            <p class="price ml-md-auto ml-2">{{data.address.place}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">zip </span>
                            </span>
                            <p class="price ml-md-auto ml-2">{{data.address.zip}} <span></span></p>
                          </div>
                          <div class="d-flex mb-1">
                            <span class="cat">House Name </span>
                            </span>
                            <p class="price ml-md-auto ml-2">{{data.address.houseName}} <span></span></p>
                          </div>
                        {{#if message}}
                        <div class="d-flex m-4">
                            </span>
                            <p class="price ml-md-auto ml-2 text-danger">{{message}} <span><a type="button" id="recover" class="col-2 btn btn-success" href="#">Recover</a></span></p>
                          </div>
                        {{/if}}

                        </div>
                        
                      </div>
                      <div id="adminMessage" class="car-wrap rounded ftco-animate ">
                         <form action='/userMessage' id="contactForm" class="bg-light p-5 pb-2 contact-form"  method="post">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name">
                <p style="color: red; font-size:small" id="nameError"></p>
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Your Email">
                <p style="color: red; font-size:small" id="emailError"></p>

              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
                <p style="color: red; font-size:small" id="subjectError"></p>

              </div>
              <div class="form-group">
                <textarea  name="message"  cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                <p  style="color: red; font-size:small" id="messageError"></p>

              </div>
              <div class="form-group">

                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
                      </div>
                    </div>
    		
        </div>
      </div>
      
      
        </div>
      </div>
    </section>

   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-color:#01d28c3c;">
      <div class="modal-body">
        <form action="/editUser?editId={{data._id}}" method="post">
          <div class="form-group row justify-content-center">
            <div class="col-md-12 col-lg-12">
              <input type="text" class="form-control c" name="name" value="{{data.name}}" placeholder="{{data.name}}">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-6">
              <input type="text" class="form-control" name="email" value="{{data.email}}" placeholder="{{data.email}}">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="age" value="{{data.age}}" placeholder="{{data.age}}">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-10 col-lg-12">
              <input type="text" class="form-control" name="phone" value="{{data.phone}}" placeholder="{{data.phone}}">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-6">
              <input type="text" class="form-control" name="place" value="{{data.address.place}}" placeholder="Place">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="zip" value="{{data.address.zip}}" placeholder="Zip">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-6">
              <input type="text" class="form-control" name="houseName" value="{{data.address.houseName}}" placeholder="House Name">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="licenseNumber" value="{{data.licenseNumber}}" placeholder="{{data.licenseNumber}}">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-10 col-lg-8">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 </body>

<script>
   const recover = document.getElementById('recover')
   const adminMessage = document.getElementById('adminMessage')
   const userDetails = document.getElementById('userDetails')
   recover.addEventListener('click', () => {
      userDetails.style.display = 'none'
      adminMessage.style.display = 'block'



   })
</script>
